*{
     font-family: 'Roboto', sans-serif;;
}


body{
    margin: 0!important;
    background-color: rgb(219, 221, 226);
}

h1{
    margin: 0 auto!important;
}

.title-bar {
    height: 50px;
    width: 100%;
    background-image: linear-gradient(to right,rgb(190, 92, 198), rgb(74, 189, 210));
    display: flex;
    justify-content: space-between; 
    align-items: flex-end;   
    opacity: 0.9;
    padding: 0 10px 0 10px;
}

 .logo h1{
    flex-grow: 2;
    font-family: 'Syne Mono', monospace;
    font-size: 40px;
    
} 

.container-fluid {
    padding-right: 0!important;
    padding-left: 0!important;
    margin-right: 0!important;
    margin-left: 0!important;
}

.row{
    margin: 30px 10px
}

.titletask{
    padding: 10px;
}

.card {
    min-height: 100%; /* Make the cards all the same height */
    display: flex;
    justify-content: space-between;
    border: none; 
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.addTaskButton {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px 0;
}

#time {
    color: rgb(0, 0, 0);
    opacity: 0.8;
    margin: 10px;
    font-size: 13px;
    text-align: center;
}

.errorMessage {
    color: red;
    font-size: 15px;
}

.btnnewtask{
    border-radius: 50%;
    background-color: #9E74C3;
    border-color: #9E74C3;
}

.container-page{
    display: flex;
    justify-content: center;

}

.mx-auto {
    margin:0!important
}

.header {
    margin: 0 20px;
}

.new-task-container{
    display: flex;
    align-items: center;
}   

.search-wrapper{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-grow: 2;
    padding: 10px;
}

.search-wrapper label{
    font-size: 12px;
    margin-right: 10px;
}

.search-wrapper select{
   width: 400px;
}

.containerBtn{
    display: flex;
    align-items: center;
    margin: 0 20px;
    justify-content: space-between;

}

.title{
    font-size: 50px;
    font-family: 'Nerko One', cursive;
    color: #9E74C3;
    text-decoration: underline wavy  3px rgb(74, 189, 210);
    text-align: center;
    margin: 20px;
    /* border-bottom: 3px dotted rgb(74, 189, 210); */
}

.container-cards{
    flex-grow: 2;
    /* padding: 30px; */
}

.card-header{
    color:white;
    border-radius: 10px 10px 0 0!important;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #9E74C3;
    /* height: 100px; */
    height: 50px;
    min-height: 100%;
    max-height: 100%;

}

.statusForm{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.fa{
    font: none;
}

.deleteForm{
    display: flex;
    align-items: center;
    justify-content: center;
}

.delete-button {
    background-color:rgb(254, 252, 252) !important;
    /* border-radius: 0!important; */
    border: none;
    color: red;
}

.row{
    margin: 0!important;

}

.updateStatus-button{
    background-color: rgb(119, 165, 208);
    border: none;
    border-radius: 0;
}

.alltaskbtn{
    margin: 15px;
    border: 1px solid gray;
    width: 100px;
    min-width: 10px;
}


@media screen and (max-width: 300px) {
    .title-bar h1 {
        font-size: 20px;
    }
}